name: Publish Package

on:
  push:
    branches: [ main ]

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Build Package
        run: bun run build

      - name: Publish Package
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc
          bun publish --ignore-scripts
